#%RAML 0.8
title: IDVKey API
version: 0.91
baseUri: https://api.github.com/api
protocols: [ HTTPS ]
securitySchemes:
  - x-kryptotek: !include kryptotek-httpauth.raml
/services:
  description: Retrieve the list of owned websites/services
  get:
    responses:
      200:
        body:
          application/json:
            schema: services
  /{serviceId}:
    /linked:
      post:
        description: Request a user for his permission to link him to a customer service/website.
        queryParameters:
          userRef:
            description: User reference to assign user
          redirectUrl:
            description: URL to redirect user to after he's successfully approved linking
          cancelUrl:
            description: URL to redirect user if he decides to deny the link
        responses:
          200:
            description: User has been successfully linked
          404:
            description: Service does not exist
      /{userRef}:
        get:
          description: Get a user's link state.
          responses:
            200:
              description: User is currently linked
              body:
                application/json:
                  schema: UserLinkInfo
            404:
              description: User is not linked, or service does not exist
        delete:
          description: Delete user link
          responses:
            200:
              description: User was unlinked
            404:
              description: User is not linked, or service does not exist
    /notifications:
      /authentication:
        post:
            description: Request user authentication
        /{opId}:
          get:
            description: Retrieve the authentication's status (and response if exists)
      /approval:
        post:
            description: Request user approval
        /{opId}:
          get:
            description: Retrieve the approval's status (and response if exists)
