#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>About</title>
</head>

In order to allow you to integrate your website / service with IDVKey's capabilities, we provide a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer),
as well as various Software Development Kits (SDK) that will allow you to very easily use those APIs.

We currently provide SDKs for the following platforms/applications:

* [Java](idvkey-sdk-java/index.html)
* PHP (soon)

More SDKs will be implemented in the future based on demand, feel free to add a request in the
[issue tracker](https://github.com/Kloudtek/idvkey-sdk/issues) for your favorite platform/application,
as we'll use that in order to prioritise new SDKs implementations.

Alternatively should you wish to implement your own REST integration, you'll find documentation
and specs in the [API section](idvkey-sdk-api/index.html)